<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rand.fitnesstracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerListActivity"
            android:label="@string/customer_list_activity_title"/>
        <activity android:name=".CustomerAppointmentsActivity"
            android:label="Customer Appointments"/>
        <activity android:name=".CustomerEditActivity"
            android:label="Edit Appointment"/>
        <activity android:name=".SignActivity"
            android:label="Sign"/>
        <activity android:name=".AppointmentsListActivity"
            android:label="All Appointments"/>
        <activity android:name=".CustomerViewActivity"
            android:label="View Customer"/>
        <activity android:name=".AppointmentViewActivity"
            android:label="View Appointment"/>
        <activity android:name=".AppointmentEditActivity"
            android:label="Edit Appointment"></activity>
    </application>

</manifest>